# Setup

In [1]:
# enable to reimport modules
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

pd.options.display.max_columns = 999

In [3]:
from scripts.feature import FeatureFactory
ff = FeatureFactory()
ff.feature_list()

['MoleculeCount', 'MoleculeDistanceStatistics', 'Atom0Count', 'Atom1Count']

In [6]:
from scripts.experiment import Experiment
dataset = Experiment().run()

OSError: [Errno 22] Invalid argument

In [54]:
dataset.train.head(1)

,,,id,type,scalar_coupling_constant,atom_index_x,atom_0,x_0,y_0,z_0,electronegativity_x,radius_x,bond_lengths_mean_x,bond_lengths_std_x,n_bonds_x,atom_index_y,atom_1,x_1,y_1,z_1,electronegativity_y,radius_y,bond_lengths_mean_y,bond_lengths_std_y,n_bonds_y
molecule_name,atom_index_0,atom_index_1,,,,,,,,,,,,,,,,,,,,,,,
dsgdb9nsd_000001,1,0,0,1JHC,84.8076,1,H,0.00215,-0.006031,0.001976,2.2,0.43,1.091953,0.0,1,0,C,-0.012698,1.085804,0.008001,2.55,0.82,1.09195,0.000003,4

In [45]:
dataset.test.head(1)

,,,id,type,atom_index_x,atom_0,x_0,y_0,z_0,electronegativity_x,radius_x,bond_lengths_mean_x,...,atom_index_y,atom_1,x_1,y_1,z_1,electronegativity_y,radius_y,bond_lengths_mean_y,bond_lengths_std_y,n_bonds_y
molecule_name,atom_index_0,atom_index_1,,,,,,,,,,,,,,,,,,,,,
dsgdb9nsd_000004,2,0,4658147,2JHC,2,H,-1.661639,0.0,1.0,2.2,0.43,1.062099,...,0,C,0.599539,0.0,1.0,2.55,0.82,1.130589,0.06849,2

In [61]:
dataset.submission.head()

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0

In [46]:
dataset.dipole_moments.head(1)

                    X    Y    Z
molecule_name
dsgdb9nsd_000001  0.0  0.0  0.0

In [47]:
dataset.magnetic_shielding_tensors.head(1)

,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
molecule_name,,,,,,,,,,
dsgdb9nsd_000001,0,195.315,0.0,-0.0001,0.0,195.317,0.0007,-0.0001,0.0007,195.317

In [48]:
dataset.mulliken_charges.head(1)

                  atom_index  mulliken_charge
molecule_name
dsgdb9nsd_000001           0        -0.535689

In [49]:
dataset.potential_energy.head(1)

                  potential_energy
molecule_name
dsgdb9nsd_000001         -40.52368

In [50]:
dataset.scalar_coupling_contributions.head(1)

,,,type,fc,sd,pso,dso
molecule_name,atom_index_0,atom_index_1,,,,,
dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.27201

In [51]:
dataset.structures.head(1)

,atom_index,atom,x,y,z,electronegativity,radius,bond_lengths_mean,bond_lengths_std,n_bonds
molecule_name,,,,,,,,,,
dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,2.55,0.82,1.09195,0.000003,4